.signup-container {
  padding: 1.4375rem;
}
.hero {
  background: #04000f;
  max-width: 780px;
  overflow: hidden;
  position: relative;
  background-image: url('../assets/images/signup-hero.png');
  background-size: 100% 100%;
}

.card:nth-child(2),
.card:last-child {
  background: #FFFFFF1A;
  backdrop-filter: blur(20px);
}

.form-container {
  max-width: 480px;
}

.continue-with-google {
  border: 1px solid #0b1f3a80;
  transition: all 0.3s ease-in-out;
  border-radius: 14px;
}

.continue-with-google:hover {
  background: #d4af37;
  border-color: #d4af37;
  transform: scale(1.05);
  cursor: pointer;
}

.form-container {
  color: #0b1f3a;
}

.signup-form input,
.signup-form select {
  border-radius: 10px;
  background: #f2f4f7;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  border: 2px solid #d4af37;
}

.btn {
  border-radius: 10px;
  background: #d4af37;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #b8860b;
  cursor: pointer;
  transform: scale(1.05);
}

.signup-form a {
  color: #daaf37;
}
