.signup-container {
  padding: 1.4375rem;
}

.signup-container .form-container {
  max-width: 400px;
  color: #0b1f3a;
}

.continue-with-google {
  border: 1px solid #0b1f3a80;
  transition: all 0.3s ease-in-out;
  border-radius: 14px;
}

.continue-with-google:hover {
  background: #d4af37;
  border-color: #d4af37;
  transform: scale(1.05);
  cursor: pointer;
}

.signup-form input,
.signup-form select {
  border-radius: 10px;
  background: #f2f4f7;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  border: 2px solid #d4af37;
}

.btn {
  border-radius: 10px;
  background: #d4af37;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #b8860b;
  cursor: pointer;
  transform: scale(1.05);
}

.signup-form .link {
  color: #daaf37;
}

.signup-form .forgot-link {
  color: #0b1f3a;
}

.signup-form .forgot-link:hover {
  color: #daaf37;
}
